<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http:www.thymeleaf.org">
  <head>
      <title>Cities</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width", intial-scale=1.0">
  </head>

 <body>
   <h2>List of Cities</h2>
   <table>
       <tr>
           <th>Id</th>
           <th>Name</th>
           <th>Population</th>
       </tr>

       <tr th:each="city:${cities}">
           <td th:text="${city.id}">Id</td>
           <td th:text="${city.name}">Name</td>
           <td th:text="${city.population}">Population</td>
       </tr>
   </table>
 </body>

</html>